html {
	background: url('../images/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'IBM Plex Sans', sans-serif;
}

body {
	display: block;
	text-align: center;
	margin: auto;
	padding-top: 150px;
}

h1 {
	font-size: 5em;
	margin-bottom: 10px;
	font-weight: 800;
}

h1 a {
	text-decoration: none;
	color: black;
}

i {
	font-weight: 600;
}

.cari {
	margin: 0 50px 30px 50px;
}

.cari input {
	margin: 0	;
	margin-top: 10px;
	border: none;
	margin-right: 0;
}

.cari button {
	padding: 8px;
	margin-left: 0;	
}

.lis a {
	border: 0 solid;
	background-color: #eeeeee;
	padding: 10px;
	margin: 5px;
	text-decoration: none;
	color: black;
	border-radius: 5px;
}

.lis a:hover {
	color: green;
	background-color: lightgreen;
}

.lis a.aktif {
	color: green;
	background-color: lightgreen;
	cursor: default;	
}

.cari input[type=text] {
	width: 500px;
	height: 30px;
	padding-left: 10px;
}

.cari input[type=text]:hover, input[type=text]:active {
	border-color: green;
}

.bawah {
	margin: 0 center;
}

article {
	border: 0;
	backgroud-color: white;
	margin-top: 100px;
	padding: 40px 0;
}

footer { 
	position: absolute;
	bottom: 0;
	margin: 0 center;
	text-align: center;
	padding: 10px;
	color: #ccc;
	cursor: default;
}

footer a {
	margin: 0 10px;
	text-decoration: none;
	color: #ccc;
	font-size: 0.7em;
}

footer a:hover {
	color: lightgreen;
	border-bottom: 1px solid green;
}

@media only screen and (max-width: 650px) {
	body {
		padding-top: 250px;
	}
	h1 {
		font-size: 3em;
		margin-bottom: 5px;
		font-weight: 800;
	}
	i {
		font-weight: 400;
		font-size: 0.7em;
		margin-bottom: 0;
	}
	.cari {
		margin-top: 0;
		margin-bottom: 10px;
	}
	.cari input[type=text] {
		width: 300px;
		height: 25px;
		padding-left: 10px;
	}
	.cari button {
		padding: 5px;
		margin-left: 0;	
	}
	.lis a {
		border: 0 solid;
		background-color: #eeeeee;
		padding: 8px;
		margin: 5px;
		text-decoration: none;
		color: black;
		border-radius: 5px;
		font-size: 0.5em;
		font-weight: 700;
	}
	footer {
		font-size: 0.7em;
	}

}

@media only screen and (max-width: 500px) {
	body {
		padding-top: 250px;
		margin: 0;

	}
	h1 {
		font-size: 2em;
		margin-bottom: 5px;
		font-weight: 800;
	}
	i {
		font-weight: 800;
		font-size: 0.6em;
		margin-bottom: 0;
	}
	.cari {
		margin-top: 0;
		margin-bottom: 10px;
	}
	.cari input[type=text] {
		width: 200px;
		height: 25px;
		padding-left: 10px;

	}
	.cari button {
		padding: 5px;
		margin-left: 0;	
	}
	.lis {
		margin-top: 0;
	}
	.lis a {
		border: 0 solid;
		background-color: #eeeeee;
		padding: 8px;
		margin: 5px;
		text-decoration: none;
		color: black;
		border-radius: 5px;
		font-size: 0.5em;
		font-weight: 700;
	}
	footer {
		font-size: 0.8em;
	}

}

@media only screen and (max-width: 350px) {
	body {
		padding-top: 150px;
		margin: 0;

	}
	h1 {
		font-size: 1.5em;
		margin-bottom: 5px;
		font-weight: 800;
	}
	i {
		font-weight: 800;
		font-size: 0.5em;
		margin-bottom: 0;
	}
	.cari {
		margin-top: 0;
		margin-bottom: 10px;
	}
	.cari input[type=text] {
		width: 100px;
		height: 25px;
		padding-left: 10px;

	}
	.cari button {
		padding: 5px;
		margin-left: 0;	
	}
	.lis {
		margin-top: 0;
	}
	.lis a {
		border: 0 solid;
		background-color: #eeeeee;
		padding: 5px;
		margin: 5px;
		text-decoration: none;
		color: black;
		border-radius: 5px;
		font-size: 0.4em;
		font-weight: 700;
	}
	footer {
		font-size: 0.5em;
	}

}

}
